<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Libplanet Rollup PoC</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Libplanet Rollup PoC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Deposit</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Withdraw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Batch Submit</a>
        </li>
        </ul>
    </div>
    </nav>

    <div style="height: 56px;"></div>

    <main role="main" class="container">
    <div class="jumbotron mt-4 py-2">
        <div class="row justify-content-around">
            <div class="col-6">
                <h3>Balance(wei)</h3>
                <p class="mt-2">0x0000000000000000000000</p>
                <div class="form-group">
                    <div class="row">
                        <label for="fa-l1-b" class="col-1 col-form-label">L1</label>
                        <input type="text" class="col-11 form-control" id="fa-l1-b" value="10" readonly>
                    </div>
                    <div class="row mt-1">
                        <label for="fa-l2-b" class="col-1 col-form-label">L2</label>
                        <input type="text" class="col-11 form-control" id="fa-l2-b" value="10" readonly>
                    </div>
                </div>
                <p class="mt-2">0x0000000000000000000000</p>
                <div class="form-group">
                    <div class="row">
                        <label for="sa-l1-b" class="col-1 col-form-label">L1</label>
                        <input type="text" class="col-11 form-control" id="sa-l1-b" value="10" readonly>
                    </div>
                    <div class="row mt-1">
                        <label for="sa-l2-b" class="col-1 col-form-label">L2</label>
                        <input type="text" class="col-11 form-control" id="sa-l2-b" value="10" readonly>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h3>Output Root Info | L2 -&gt; L1</h3>
                <div class="form-group mt-2">
                    <div class="row">
                        <label for="ori-or" class="col-4 col-form-label">OutputRoot</label>
                        <input type="text" class="col-8 form-control" id="ori-or" value="10" readonly>
                    </div>
                    <div class="row mt-1">
                        <label for="ori-l2-oi" class="col-4 col-form-label">L2OutputIndex</label>
                        <input type="text" class="col-8 form-control" id="ori-l2-oi" value="10" readonly>
                    </div>
                    <div class="row mt-1">
                        <label for="ori-l2-bn" class="col-4 col-form-label">L2BlockNumber</label>
                        <input type="text" class="col-8 form-control" id="ori-l2-bn" value="10" readonly>
                    </div>
                    <div class="row mt-1">
                        <label for="ori-l1-ts" class="col-4 col-form-label">L1Timestamp</label>
                        <input type="text" class="col-8 form-control" id="ori-l1-ts" value="10" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" href="#">Withdraw</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Prove</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Finalize</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <dev class="row mx-0 align-items-end">
                <h4 class="mb-0">Parameters</h4>
                <button type="button" class="btn btn-light ml-auto">Try it out</button>
            </dev>
            <hr>
            <div class="form-group">
                <div class="row mr-2">
                    <label for="w-amount" class="col-2 col-form-label">Amount</label>
                    <input type="text" class="col-10 form-control" id="w-amount" value="10">
                </div>
                <div class="row mt-1 mr-2">
                    <label for="w-to" class="col-2 col-form-label">To</label>
                    <input type="text" class="col-10 form-control" id="w-to" value="0x0000000000000000000000">
                </div>
            </div>

            <h4 class="mt-5">Responses</h4>
            <hr>
            <div class="card bg-dark mb-2">
              <div class="card-body">
                <pre style="color: white;">
This is some text within a card body.
Can I use json format?
{
    "key": "value",
}
Or Color tag?
<span style="color: red;">Red</span>
                </pre>
              </div>
            </div>
            <div class="card bg-dark mb-2">
              <div class="card-body">
                <pre style="color: white;">
This is some text within a card body.
Can I use json format?
{
    "key": "value",
}
Or Color tag?
<span style="color: red;">Red</span>
                </pre>
              </div>
            </div>
        </div>
    </div>
    </main>

    <div style="height: 50px;"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>