LOCAL_GETH_RPC_URL="http://localhost:8545"
MOTHERSHIP_TESTNET_RPC_URL="http://node-1.v8-dev.us-east-2.testnet.holesky.tests.mothership-pla.net/"
MOTHERSHIP_TESTNET_CHAIN_ID=16777215
MAIN_PRIVATE_KEY="0xd570920ed93cb981bab0c1f83977341e7d6441b682d08a219a00147a8a8935ba"